{% extends 'myadmin/base.html' %} <!--继承base.html模板-->

{% block mainbody %}
<div class="span9">
                    <!-- 主体开始 -->
					<h1>
						后台管理
					</h1>
					<div class="hero-unit">
						<h2>
							后台管理!
						</h2>
						<p>
							在这里你可以进行后台操作！
						</p>
			
					</div>
					<div class="well summary">
						<ul>
							<li>
								<a href="#"><span class="count">3</span> Projects</a>
							</li>
							<li>
								<a href="#"><span class="count">27</span> Tasks</a>
							</li>
							<li>
								<a href="#"><span class="count">7</span> Messages</a>
							</li>
							<li class="last">
								<a href="#"><span class="count">5</span> Files</a>
							</li>
						</ul>
					</div>

                    <!-- 主体结束 -->
				</div>
			</div>
		</div>
{% endblock %}